<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="headerfragment">
    <meta charset="utf-8"/>
    <link rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/styles/default.min.css">
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.2.1/build/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Code Snippet</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--    icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>

<body>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

    input[type=text] {
        border-bottom: 1px solid transparent !important;
        box-shadow: 0 1px 0 0 transparent !important;
    }

    input[type=text]:focus {
        border-bottom: 1px solid white !important;
        box-shadow: 0 1px 0 0 white !important;
    }

    body {
        font-family: 'Work Sans', sans-serif !important;
    }

    textarea {
        font-family: 'Source Code Pro', monospace !important;
    }
</style>

<div class="container">
    <div class="row">
            Creation Date: <span id="load_date" th:text="${responseCode.date}"></span>
            <p>
                <span th:if="${responseCode.views}? ${responseCode.views >= 0}">
<!--                    <span th:if="${responseCode.views > 0}">-->
                        <span id="views_restriction" th:text="${responseCode.views}"></span> more views allowed
                    <!--        </span>-->
                </span>
            </p>
            <p>
                <span th:if="${responseCode.time}? ${responseCode.time >= 0}">
<!--                <span th:if="${responseCode.time > 0}">-->
                The code will be available for <span id="time_restriction" th:text="${responseCode.time}"></span> seconds
                </span>
            </p>
            <pre id="code_snippet"><code th:text="${responseCode.code}"></code></pre>
        <a id="copylink" class="btn tooltipped white black-text" data-position="bottom" data-tooltip="Copy code"><i class="material-icons">content_copy</i></a>
    </div>
</div>

<script>
    const codeSnippet = $("#code_snippet");
    $(document).ready(function(){
        $('.tooltipped').tooltip();
    });
    const tooltip = $("#copylink");

    function copyToClipboard() {
        const str = document.getElementById('code_snippet').innerText;
        const el = document.createElement('textarea');
        el.value = str;
        el.setAttribute('readonly', '');
        el.style.position = 'absolute';
        el.style.left = '-9999px';
        document.body.appendChild(el);
        el.select();
        document.execCommand('copy');
        document.body.removeChild(el);
    }

    tooltip.on('click', () => {
        try {
            copyToClipboard();
            M.toast({html: 'copied!', classes: 'green rounded'})
        } catch (_e) {
            M.toast({html: 'Failed to copy!', classes: 'red rounded'})
        }
    })
</script>
</body>
</html>
